<div id='wrapper'>
    <div id="value">00</div>
    <div id='btn-wrapper'>
        <a id='btn' class='btn' onclick="const obj = document.getElementById('value');
animateValue(obj, <%=@ary%>, Math.floor(Math.random() * 1000 + 2000));">sortear</a>
    </div>
</div>
<script>
    // Entry point for the build script in your package.json
function animateValue(obj, ary, duration) {
    const size = ary.length; 
    let startTimestamp = null;
    const step = (timestamp) => {
        if (!startTimestamp) startTimestamp = timestamp;
        const progress = Math.min((timestamp - startTimestamp) / duration, 1);
        obj.innerHTML = ary[Math.floor(Math.random() * size)];
        if (progress < 1) {
            window.requestAnimationFrame(step);
        }
    };
    window.requestAnimationFrame(step);
}
</script>