<div id='wrapper'>
    <div id='btn-wrapper'>
        <a id='btn' href="/sp">São Paulo</a>
        <a id='btn' href="/rj">Rio de Janeiro</a>
        <a id='btn' href="/ce">Fortaleza</a>
    </div>
</div>