<div id='wrapper'>
    <div id='btn-wrapper'>
        <a class='btn' href="/sp">São Paulo</a>
        <a class='btn' style='margin: 0px 25px' href="/rj">Rio de Janeiro</a>
        <a class='btn' href="/ce">Fortaleza</a>
    </div>
</div>