<div id='wrapper'>
    <div id="value">00</div>
    <%= image_tag('yellow_line.png', width: '100%', style: 'margin-bottom: 50px' )%>
    <div id='btn-wrapper'>
        <a id='btn' class='btn' onclick="const obj = document.getElementById('value');
animateValue(obj, ary, ary_size, Math.floor(Math.random() * 1000 + 2000));">sortear</a>
    </div>
</div>
<script>
    let ary = <%= @ary%>;
    let ary_size = 0;
    let drawed_index = null;
    
    // Entry point for the build script in your package.json
function animateValue(obj, ary, ary_size,duration) {

    if (drawed_index !== null) {
      console.log(drawed_index);
      console.log(ary);
      ary.splice(drawed_index, 1);
      console.log('deleted ' + drawed_index)
      console.log(ary)
      ary_size = ary.length;
    }
    console.log('ary_size out: ' + ary_size);
    let startTimestamp = null;
    const step = (timestamp) => {
        ary_size = ary.length;
        if (!startTimestamp) startTimestamp = timestamp;
        const progress = Math.min((timestamp - startTimestamp) / duration, 1);
        drawed_index = Math.floor(Math.random() * ary_size);
        obj.innerHTML = ary[drawed_index];
        if (progress < 1) {
            window.requestAnimationFrame(step);
        }
    };
    window.requestAnimationFrame(step);
}
</script>