@import url('https://www.coca-cola.com.br/assets/vendor/@coca/fonts/tccc-unity-headline/TCCCUnityHeadlineBold.woff2?v=99717bf68408f53191ea126f63ad8b10');
@import url('https://www.coca-cola.com.br/assets/vendor/@coca/fonts/tccc-unity-headline/TCCCUnityHeadlineRegular.woff2?v=814e44a8fd6d608a1a16f064b227ceba');

div {
    font: 800 20px system-ui;
}

body {
    background-color: black;
    background-image: url('listras_mequi.png');
    background-position: bottom center;
    background-repeat: repeat-x;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

#bottles {
    position: absolute;
    bottom: 20px;
    right: 70px;
    background-color: transparent;
}

#mequi {
    position: absolute;
    top: 110px;
    right: 110px;
    background-color: transparent;
}

.btn {
    // color: white;
    color: #dd0d1d;
    
    border-radius: 50px;
    border: 1px solid;
    // border-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(221, 13, 29, 0.2);
    padding: 15px 25px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    // border-color: rgba(255, 255, 255, 1);
    border-color: rgba(221, 13, 29, 1);
}

#back-btn {
    position: absolute;
    top: 30px;
    left: 25px; 
    font: 800 15px system-ui;
    color: rgba(255, 255, 255, 0.2);
}

#back-btn:hover {
    color:rgba(255, 255, 255, 1);
}

#wrapper {
    padding-bottom: 100px;
    text-align: center;
}

#btn-wrapper {
    width: 100%;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#value {
    width: 100%;
    text-align: center;
    font: 800 230px "TCCC Unity Headline Regular";
    color: white;
}